.hostCountry {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 50px 15px 50px;
}
.hostCountry .poster {
    width: 100%;
    position: relative;
}
.hostCountry .info {
    width: 100%;
    background-color: white;
    padding: 32px 24px;
    border-radius: 16px;
}
.hostCountry .info .trait {
    margin: 50px 0px;
}
.hostCountry .poster img{
    width: 100%;
    object-fit: cover;
    height: 500px;
    border-radius: 16px;
}
.hostCountry .standings-list {
    height: auto;
}
.hostCountry .shop-card {
    margin: 0;
    margin-top: 32px;
}
.hostCountry .shop-card .kit-img {
    justify-content: flex-start;
}
.hostCountry .shop-card .kit-details {
    align-items: flex-start;
}

.matches-shop{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 100px;
}
.matches-shop .matches{
    flex: 1 0;
    width: 100% !important;
}
.shop-part-country{
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
}
.shop-part-country img{
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
}
.unavailable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.unavailable #out-of-stock{
    margin: auto 0;
    color: #636363;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:30px 0px;
}
.unavailable i{
    color: #636363;
    margin: 10px auto;
}
.shop-part-country .kit-details {
    display: flex !important;
    text-align: left;
    justify-content: left;
    opacity: 1 !important;
}
.shop-part-country .kit-details p{
    display: flex !important;
    text-align: left !important;
    justify-content: left !important;
}
@media(max-width: 1800px){
    .matches-shop .matches .MI-team h3{
        display: none !important;
    }
    .MI-teams{
        width: fit-content;
    }
    .MI-container{
        width: 100%;
        min-width: fit-content;
    }
}
@media(max-width: 1000px){
    .matches-shop .matches .MI-status{
        display: none;
    }
}
@media(max-width: 850px){
    .matches-shop{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .shop-part-country{
        width: 100%;
        margin-right: 0;
    }
    .shop-part-country .shop-card{
        margin: 0 auto;
    }
}
.btn-Favorite{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #5742A9;
    position: absolute;
    top: 30px;
    right: 20px;
    transition: 0.4s;
}
.btn-Favorite i{
    color: #5742A9;
    transition: 0.4s;
}
.btn-Favorite:hover{
    background-color: #5742A9;
}
.btn-Favorite:hover i{
    color: #FFF;
}