.hostCountry {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 50px 15px 50px;
}
.hostCountry .poster {
    width: 100%;
}
.hostCountry .info {
    width: 100%;
    background-color: white;
    padding: 32px 24px;
    border-radius: 16px;
}
.hostCountry .info .trait {
    margin: 50px 0px;
}
.hostCountry .poster img{
    width: 100%;
}
.hostCountry .standings-list {
    height: auto;
}
.hostCountry .shop-card {
    margin: 0;
    margin-top: 32px;
}
.hostCountry .shop-card .kit-img {
    justify-content: flex-start;
}
.hostCountry .shop-card .kit-details {
    align-items: flex-start;
}
.hostCountry .shop-card .kit-details p {
    display: inline;
    width: 100%;
    text-align: center !important;
}
.hostCountry .shop-card .kit-details h3 {
    width: 100%;
    text-align: center !important;
}