
.standingTitle {
  color: var(--Black, #100f0f);
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 65px 0px;
}
.standingPage .standingSection {
    background-color: white;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 50px;
}
.standingPage .standingSection .standings-list {
    overflow: visible;
    height: auto;
}

@media (max-width: 530px) {
    .rr-history {
        display: none;
    }
    .rank-row {
        gap: 20px;
    }
    .rank-row,.ranking-head {
        min-width: 0px;
    }
    .standings-list {
        padding-right: 0px;
    }
    .rr-team p {
        text-align: start;
    }
    .rr-point p{
        width: 35px;
    }
    .standingPage .standingSection {
        padding: 12px;
    }
}
@media (min-width:531px) and (max-width: 700px) {
    .rr-history {
        display: none;
    }
    .rank-row {
        gap: 40px;
    }
    .rank-row,.ranking-head {
        min-width: 0px;
    }
    .standings-list {
        padding-right: 0px;
    }
    .rr-team p {
        text-align: start;
    }
    .rr-point p{
        width: 45px;
    }
    .standingPage .standingSection {
        padding: 12px;
    }
}