.stadiumPage {
    display: flex;
    margin: 0px 15px 50px;
    flex-direction: column;
}
.stadiumPage .heroSection {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.stadiumPage .heroSection .background{
width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 16px;

}
.stadiumPage .heroSection .images{
    width: 85%;
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,50%);
}
.stadiumPage .heroSection .images img{
    width: calc(100% / 5);
    cursor: pointer;
}
.stadiumPage .heroSection .images img.inactive{
    filter: grayscale(100%);
}
.stadiumPage .heroSection .images .first {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.stadiumPage .heroSection .images .last {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.stadiumPage .heroSection .information {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    gap: 25px;
    position: absolute;
    right: 6%;
    bottom: 50%;
    flex-direction: column;
    transform: translate(0, 50%);
}
.stadiumPage .heroSection .information > div {
    width: 170.444px;
height: 47.667px;
border-radius: 32.5px;
background: #FFF;
padding: 14px;
display: flex;
gap: 8px;

align-items: center;
}
.stadiumPage .heroSection .information > div > svg {
    width: 27.444px;
    height: 27.444px;
}
.stadiumPage .heroSection .information > div > p {
    color: var(--Black, #100F0F);
    font-family: Inter;
    font-size: 14.444px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.stadiumPage .location {
    padding-right: 47px;
    padding-left: 47px;
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
}
.stadiumPage .location .infos {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 40%;
}

.stadiumPage .location .infos p:first-child {
    color: #333;
    font-feature-settings: 'liga' off;
    font-family: Inter;
    font-size: 23.111px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.stadiumPage .location .infos p:last-child {
    color: rgba(51, 51, 51, 0.80);
font-feature-settings: 'liga' off;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 160.222%; /* 15.889px */
}
.geolocation {
    width: 52%;
}
.geolocation iframe {
    width: 100%;
    height: 400px;
}
.tixto {
    color: #FFF;
font-family: Inter;
font-size: 69.333px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: absolute;
left: 8%;
width: 400px;
}
@media (max-width: 890px) {
    .tixto {
        font-size: 50.333px;
        left: 0;
    width: 100%;
    text-align: center;
    }
    .stadiumPage .heroSection .information {
        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);

    }
}
@media (max-width: 890px) {
    .stadiumPage .location {
        flex-direction: column;
    }
    .stadiumPage .location .infos {
        width: 100%;
        align-items: center;
    }
    .geolocation {
        width: 100%;
        height: auto;
    }
}
